* {
    margin: 0;
    box-sizing: border-box;
}

body {
    background: aquamarine;
}

table {
    margin: 0 auto;
    width: 400px;
    height: 400px;
    text-align: center;
    font-size: 4em;
}

td {
    border: 1px solid black;
    padding: 20px;
}